footer{
    background-color: #F6F6F7;
    padding-top: 50px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-subtitle{
    font-size: 16px;
    color: #696A75;
    margin-bottom: 20px;
}

.footer-email{
    margin-bottom: 10px;
}

.title-name{
    font-size: 16px;
    font-weight: 600;
}

.footer-icon{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #3B3C4A;
}

.footer-box{
    width: 392px;
    height: 254px;
    text-align: center;
    padding-top: 40px;
    background-color: white;
}

.box-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-box{
    position: relative;
}

.email-field{
    width: 320px;
    height: 48px;
    font-size: 16px;
    color: #97989F;
    padding-left: 10px;
    margin-bottom: 10px;
}

.fa-regular{
    position: absolute;
    top: 18px;
    right: 50px;
}

.subscribe-btn{
    width: 320px;
    height: 48px;
    border: none;
    background-color: #4B6BFB;
    color: #fff;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta-title{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

.meta-sub-title{
    font-weight: 600;
}

.end-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-icon{
    display: flex;
    gap: 20px;
}


@media only screen and (max-width: 575.98px) {
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footer-bottom{
        flex-direction: column;
        justify-content: start;
    }

    .footer-subtitle{
        overflow: hidden;
    }

    .footer-box{
        width: 100%;
        /* height: 254px; */
        /* padding-top: 30px; */
    }

    .email-field{
        width: 100%;
    }

    .fa-regular{
        /* top: 18px; */
        right: 20px;
    }

    .subscribe-btn{
        width: 100%;
    }
}