* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1240px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}

.ad-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 20px;
}